## Testbed for classes, functions, etc for `snowshadow`

In [1]:
# Imports
import os
import datetime

import numpy as np
import pandas as pd 

from utils.utils import load_pickle

In [2]:
# Get data
data_root = "./data"
data_fname = "df_obs.h5"
metadata_fname = "df_metadata.h5"

df_obs_fpath = os.path.join(data_root, data_fname)
df_meta_fpath = os.path.join(data_root, metadata_fname)

regions = ["uinta_basin", "uinta_mtns", "nslv", "cslv", "sslv"]
start_date = datetime.datetime(2022, 11, 1, 0, 0, 0)
end_date = datetime.datetime(2024, 3, 1, 0, 0, 0)
df_meta = load_pickle(df_meta_fpath)
df_obs = pd.read_hdf(df_obs_fpath, key='df_obs')

In [6]:
df_meta

,KVEL,RSVL,CUPH,CWHU1,LKFU1,MMTU1,TCKU1,CHPU1,DIAU1,FIVU1,...,PC196,PC221,G2190,FG027,FG028,FG029,PC347,PC348,G3835,FG030
DISTANCE,20.26,22.29,40.84,45.25,49.81,32.16,39.04,48.87,37.87,37.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ELEVATION,5262.0,5151.0,5725.0,10498.0,10127.0,9552.0,9448.0,12120.0,7730.0,7480.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ELEV_DEM,5269.0,5200.1,5590.6,10524.9,10157.5,9583.3,9471.8,12109.6,7729.7,7483.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ID,61,878,902,1458,1482,1494,1509,2335,2336,2337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MNET_ID,1,1005,19,25,25,25,25,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
STID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PC196,PC221,G2190,FG027,FG028,FG029,PC347,PC348,G3835,FG030
TIMEZONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver
UNITS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}"
latitude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.00615,40.27518,40.39383,40.04283,40.07485,40.03357,40.32304,39.96019,40.4,40.03216
longitude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-111.48868,-111.94242,-111.92517,-111.86326,-111.80272,-111.78921,-111.65438,-112.10214,-111.8365,-111.69474

In [4]:
df_obs

,air_temp_set_1,altimeter_set_1,dew_point_temperature_set_1,dew_point_temperature_set_1d,pressure_set_1d,relative_humidity_set_1,sea_level_pressure_set_1,sea_level_pressure_set_1d,wind_direction_set_1,wind_gust_set_1,...,wind_speed_set_5,wind_speed_set_6,ozone_concentration_set_2,altimeter_set_2d,pressure_set_2,wind_direction_set_2,wind_u_set_2,wind_v_set_2,solar_radiation_set_2,snow_depth_set_2
date_time,,,,,,,,,,,,,,,,,,,,,
2022-11-01 00:00:00+00:00,12.0,inf,NaN,-5.121094,inf,30.09375,NaN,inf,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-01 00:05:00+00:00,11.0,inf,NaN,-4.121094,inf,34.65625,NaN,inf,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-01 00:10:00+00:00,11.0,inf,NaN,-4.121094,inf,34.65625,NaN,inf,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-01 00:15:00+00:00,10.0,inf,NaN,-4.121094,inf,37.06250,NaN,inf,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-01 00:20:00+00:00,10.0,inf,NaN,-4.121094,inf,37.06250,NaN,inf,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-29 23:20:00+00:00,13.945312,NaN,NaN,-6.960938,NaN,23.00000,NaN,NaN,215.000,7.597656,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 23:30:00+00:00,14.445312,NaN,NaN,-5.980469,NaN,24.00000,NaN,NaN,228.375,7.511719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 23:40:00+00:00,14.335938,NaN,NaN,-6.070312,NaN,24.00000,NaN,NaN,227.500,7.910156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 23:50:00+00:00,14.054688,NaN,NaN,-6.308594,NaN,24.00000,NaN,NaN,204.250,7.109375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-03-01 00:00:00+00:00,13.664062,NaN,NaN,-6.109375,NaN,25.00000,NaN,NaN,189.500,6.972656,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Start playing with the data
# Meteorological charts, data mining, graphs